/* Generic page styling -----------------------------------------------------------------------------------*/
body {
  background-color: darkslategrey; }

h1 {
  padding: 30px; }

/* Navbar styling ---------------------------------------------------------------------------------------*/
#navbar2 {
  background-color: firebrick;
  font-weight: bold;
  font-size: 25px;
  width: 100%;
  position: static;
  top: 0px;
  z-index: 1; }

#navbar2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: firebrick; }

#navbar2 li {
  float: left; }

#navbar2 a {
  display: block;
  color: black;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none; }

/* Change the link color to #111 (black) on hover */
#navbar2 li a:hover {
  background-color: black;
  color: firebrick;
  text-decoration: none; }

/* Index styling ---------------------------------------------------------------------------------------------*/
#firstblock {
  color: firebrick;
  background-color: black; }

#secblock {
  color: lightcoral;
  background-color: darkslategrey; }

#thirdblock {
  color: black;
  background-color: firebrick; }

#fourthblock {
  color: lightcoral;
  background-color: firebrick; }

/* SKUNK stying -------------------------------------------------------------------------------------------- */
#roll_dice_button {
  background-color: firebrick;
  padding: 30px;
  radius: 6px; }

#end_round_button {
  background-color: lightcoral;
  padding: 30px;
  radius: 6px; }

#skunk_score_card th {
  background-color: firebrick;
  color: white;
  font-weight: bold;
  border: 3px solid;
  border-collapse: collapse;
  border-color: black;
  padding: 10px;
  width: 300px; }

#skunk_score_card td {
  padding: 5px; }

/* Countdown styling -----------------------------------------------------------------------------------------------------------*/
#countdown_number_display {
  width: 600px;
  height: 100px;
  margin: 30px;
  background-color: gray;
  border: 5px solid black;
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  align-items: center;
  justify-items: center; }

.picked_number {
  font-size: 50px;
  padding: 10px; }

#large_number_button {
  background-color: gray;
  height: 40px;
  width: 200px;
  margin-left: 80px;
  border-radius: 5px; }

#small_number_button {
  background-color: gray;
  height: 40px;
  width: 200px;
  margin-left: 100px;
  border-radius: 5px; }

@keyframes getready {
  0% {
    background-color: gray; }
  15% {
    background-color: yellow; }
  30% {
    background-color: gray; }
  45% {
    background-color: yellow; }
  60% {
    background-color: gray; }
  75% {
    background-color: yellow; }
  90% {
    background-color: gray; }
  100% {
    background-color: lightgreen; } }
#target {
  width: 600px;
  height: 90px;
  margin: 30px;
  background-color: gray;
  border: 5px solid black;
  border-radius: 20px;
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
  animation-name: getready;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-play-state: paused; }

#clock {
  background-color: lightcoral;
  width: 200px;
  height: 210px;
  position: fixed;
  left: 750px;
  top: 100px;
  font-size: 100px;
  color: black;
  border-radius: 30%;
  border: 5px solid black;
  text-align: center;
  padding-top: 90px; }

/*# sourceMappingURL=GammaGamma_Styling.css.map */
